body{
    background: url(dragon.jpg);
    background-size: cover;
    background-repeat: attachement;
    background-attachment: fixed;
     
    }
    
    .cabecalho { 
        align-items: center;
        
        background-color: rgb(216, 216, 216); 
        display: flex;
        justify-content: space-between;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .logo{
     image-url

    }

    .sla{
 color: rgb(204, 204, 204);
 text-align: top;
text-align: center;
    
    
    }

    .menu{
color: rgb(248, 7, 7);
 text-decoration: none;
    
    }
